@media (max-width: 375px){
/* HEADER CONTAINER & BACKGROUND IMAGE */
    .header{
        width:vw;

    }
/* BOX 1,2 & BOX-MOTHER FOR STAR WARS LOGO IMAGES */
    .header-box-logo1, .header-box-logo2{
        width: 50vw;
        height: 36vh;
    }
    .header-box-logo1{
        left: 13.2rem;
    }
    .header-box-logo2{
        right: 13rem;
    }
    /* STAR WARS LOGO IMAGES */
    .header-logo1, .header-logo2{
        width: 40vw;
    }
/* FIGURE KYLO REN (FIRST IMPRESSION) */
    .header-figure{
        height: 64vh;
        top: 0.3rem;
        left: -1rem;
    }
    .header-group{
        width: 24vw;
        top: 3rem;
        right: 2.5rem;
        z-index: 2;
    }
/* MAIN CONTAINER */
.main-container{
    width: 188vw;
    height: 860vh;
    background-color: aqua;
}
/* MAIN SECTION ONE -- CONTAINER */
.main-section-one{
    width: 188vw;
    height: 400vh;
    background-color: blueviolet;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
}
.main-section-one-background{
    width: 140vw;
    height: 180vh;
}
/* MAIN SECTION ONE -- CONTAINER 01 -- BOX 01 DIVISION */
.main-section-one-container1{
    width: 100vw;
    height: 200vh;
    background-color: blue;
        flex-direction: column;
        align-items: flex-end;
    right: 21rem;
}
/* MAIN SECTION ONE -- BOX 01 -- COMECE A JOGAR */
.main-section-one-box1{
    width: 100vw;
    height: 200vh;
    bottom: -3rem;
    background-color: chartreuse;
}
.main-section-one-box1-text button{
    width: 6rem;
    height: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 0.7rem;
}
/* MAIN SECTION ONE -- BOX 02 -- SOBRE O JOGO */
.main-section-one-box2{
    width: 80vw;
    height: 60vh;
    margin-top: 0rem;
        flex-direction: column-reverse;
        align-items: flex-end;
}
.main-section-one-box2-line{
    width: 40vw;
}
.main-section-one-box2-text{
    width: 80vw;
    height: 33vh;
}
.main-section-one-box2-text h3{
    font-size: 100%;
    width: 40vw;
}
.main-section-one-box2-text p{
    width: 80vw;
    height: 26vh;
}
.main-section-one-box2-img{
    width: 58vw; 
    margin-left: 0rem;
}
/* MAIN SECTION ONE -- BOX 02 -- DIVISION GERAL */
.main-section-one-division{

}
/* MAIN SECTION ONE -- CONTAINER 01 -- BOX 01 DIVISION */
.main-section-one-container2{
    background-color: firebrick;
}
.main-section-one-box3{
    background-color: gold;
}














}