@media (max-width: 375px){
/* HEADER CONTAINER & BACKGROUND IMAGE */
    .header-container{
        width: 100vw;
        height: 30vh;
    }
/* BOX 1,2 & BOX-MOTHER FOR STAR WARS LOGO IMAGES */
    .header-box-logo1, .header-box-logo2{
        width: 50vw;
        height: 21vh;
    }
    .header-box-logo1{
        left: 7.9rem;
    }
    .header-box-logo2{
        right: 6.7rem;
    }
    /* STAR WARS LOGO IMAGES */
    .header-logo1, .header-logo2{
        width: 24vw;
    }
/* FIGURE KYLO REN (FIRST IMPRESSION) */
    .header-figure{
        height: 37vh;
        top: 0.2rem;
        left: 0.2rem;
    }
    .header-group{
        width: 15vw;
        top: 2rem;
        right: 0.8rem;
        z-index: 2;
    }
/* MAIN CONTAINER */
.main-container{
    width: 100vw;
    height: 860vh;
    background-color: aqua;
}
/* MAIN SECTION ONE -- CONTAINER */
.main-section-one{
    width: 100vw;
    height: 220vh;
    background-color: blueviolet;
        
}
.main-section-one-background{
    width: 75vw;
    height: 126vh;
}
/* MAIN SECTION ONE -- CONTAINER 01 -- BOX 01 DIVISION */
.main-section-one-container1{
    width: 80vw;
    height: 132vh;
        flex-direction: column;
        align-items: flex-end;
    right: 15.5rem;
}
/* MAIN SECTION ONE -- BOX 01 -- COMECE A JOGAR */
.main-section-one-box1{
    width: 58vw;
    bottom: -3rem;
}
.main-section-one-box1-text button{
    width: 6rem;
    height: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 0.7rem;
}
/* MAIN SECTION ONE -- BOX 02 -- SOBRE O JOGO */
.main-section-one-box2{
    width: 80vw;
    height: 60vh;
    margin-top: 0rem;
        flex-direction: column-reverse;
        align-items: flex-end;
}
.main-section-one-box2-line{
    width: 40vw;
}
.main-section-one-box2-text{
    width: 80vw;
    height: 33vh;
}
.main-section-one-box2-text h3{
    font-size: 100%;
    width: 40vw;
}
.main-section-one-box2-text p{
    width: 80vw;
    height: 26vh;
}
.main-section-one-box2-img{
    width: 58vw; 
    margin-left: 0rem;
}
/* MAIN SECTION ONE -- BOX 02 -- DIVISION GERAL */
.main-section-one-division{

}
/* MAIN SECTION ONE -- CONTAINER 01 -- BOX 01 DIVISION */
.main-section-one-container2{
    background-color: firebrick;
    display: none;
}
.main-section-one-box3{
    background-color: gold;
}














}