@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;;
}
body{
    background-color: #FFF;
    position: absolute;
}
/* HEADER CONTAINER & BACKGROUND IMAGE */
.header-container{
    width: 98.79vw;
    height: 93.6vh;
    background-image: url(img-desktop/star\ uó\ topo@2x.png);
    background-repeat: no-repeat;
    background-size: 100%;
        display: flex;
        justify-content: center;
    position: relative;
}
/* UNIVERSAL HEADER FLEX-BOX */
 .header-box-logo1, .header-box-logo2, .header-logo1, .header-logo2, .header-figure, .header-group{
        display: flex;
}
/* BOX 1,2 & BOX-MOTHER FOR STAR WARS LOGO IMAGES */
.header-box-logo1, .header-box-logo2{
    width: 50vw;
    height: 64vh;
        align-items: flex-end;
    position: relative;
}
.header-box-logo1{
    left: 28rem;
}
.header-box-logo2{
    right: 20rem;
}
/* STAR WARS LOGO IMAGES */
.header-logo1, .header-logo2{
    width: 24vw;
    height: 13.5vh;
}
/* FIGURE KYLO REN (FIRST IMPRESSION) */
.header-figure{
    width: 115vw;
    height: 115vh;
    position: relative;
    right: 0.4rem;
    bottom: 0.4rem;
    z-index: 1;
}
.header-group{
    width: 8vw;
    height: 18vh;
        align-self: flex-end;
    position: relative;
    bottom: 1rem;
    right: 2rem;
}
/* MAIN -- CONTAINER */
.main-container{
    width: 98.79vw;
    height: 500vh;
    background-color: rgba(0, 0, 139, 0.315);
        display: flex;
		flex-direction: column;
    position: relative;
}
/* MAIN SECTION 0NE -- BOX 01 -- UNIVERSAL FLEX-BOX */
.main-section-one, .main-section-one-background, .main-section-one-container1, .main-section-one-box1, .main-section-one-box1-text, .mmain-section-one-box1-text-sub{
    display: flex;
}
/* MAIN SECTION ONE -- CONTAINER */
.main-section-one{
    width: 98.79vw;
    height: 154vh;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
}
.main-section-one-background{
    width: 40vw;
    height: 154vh;
    background-image: url(img-desktop/sta\ uo\ robot@2x.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
/* MAIN SECTION ONE -- BOX 01 DIVISION */
.main-section-one-container1{
    width: 77vw;
    height: 70vh;
        justify-content: space-between;
    position: relative;
    right: 24.5rem;
}
/* MAIN SECTION ONE -- BOX 01 -- COMECE A JOGAR */
.main-section-one-box1{
    width: 20vw;
    height: 64.3vh;
    padding: 1.5rem;
    background-image: url(img-desktop/strom\ trupe\ red@2x.png);
    background-repeat: no-repeat;
    background-size: 100%;
        flex-direction: column;
    position: relative;
    bottom: 2.5rem;
    z-index: 2;
}
.main-section-one-box1-text{
    height: 55vh;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
}
.main-section-one-box1-text h2{
    width: 8rem;
    color: #FFF;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 400;
}
.main-section-one-box1-text p{
    color: rgba(255, 255, 255, 0.645);
    text-align: start;
    font-size: 0.88rem;
    font-weight: 300;
}
.main-section-one-box1-text button{
    width: 8rem;
    height: 2rem;
    color: #FFF;
    background-color: rgba(255, 255, 255, 0);
    text-transform: uppercase;
    border-radius: 5%;
    border: 0.1rem solid white;
}
.main-section-one-box1-text-sub{
    color: rgba(255, 255, 255, 0.645);
    text-align: end;
    font-size: 0.4rem;
    position: relative;
    left: 0.6rem;
    bottom: 1rem;
}
/* MAIN SECTION 01 -- BOX 02 -- UNIVERSAL FLEX-BOX */
.main-section-one-box2, .main-section-one-box2-line, .main-section-one-box2-text, .main-section-one-box2-img, .main-section1-division{
        display: flex;
}
/* MAIN SECTION ONE -- BOX 02 -- SOBRE O JOGO */
.main-section-one-box2{
    width: 50vw;
    height: 26vh;
    margin-top: 7.7rem;
        align-self: center;
	position: relative;
}
.main-section-one-box2-line{
    width: 9.5vw;
    height: 0.4vh;
    margin-bottom: 0.5rem;
    background-color: #000;
    position: relative;
    top: 0.5rem;
}
.main-section-one-box2-text{
    width: 27rem;
    height: 10rem;
    text-align: end;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column;
	position: relative;
}
.main-section-one-box2-text h3{
    width: 20vw;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
}
.main-section-one-box2-text p{
    width: 24vw;
    height: 19vh;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.2rem;
    position: relative;
    top: 0.5rem;
}
.main-section-one-box2-img{
    width: 20vw;
    height: 26vh;
    margin-left: 1rem;
    position: relative;
}
/* MAIN SECTION ONE -- BOX 02 -- DIVISION GERAL */
.main-section-one-division{
    width: 77vw;
    height: 0.6vh;
    background-color: #707070;
        position: relative;
        right: 24.5rem;
        bottom: 1rem;
}
/* MAIN SECTION ONE -- BOX 03 -- ESTRUTURA DE JOGO */
.main-section-one-container2, .main-section-one-box3, .main-section-one-box3-nav, .main-section-one-box3-figure1, .main-section-one-box3-figure2{
    display: flex;
}
.main-section-one-container2{
    width: 77vw;
    height: 80vh;
    position: relative;
    right: 22rem;
}
.main-section-one-box3{
    width: 30vw;
    height: 80vh;
        justify-content: center;
        align-items: center;
    position: relative;
    right: 4rem;
}
.main-section-one-box3-nav{
    text-transform: uppercase;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
    position: relative;
    z-index: 2;
}
.main-section-one-box3-nav h3{
    width: 25vw;
    height: 20vh;
    text-align: right;
    font-size: 3rem;
    font-weight: 600;
    line-height: 3rem;
}
.main-section-one-box3-nav span{
    font-weight: 800;
}
.main-section-one-box3-nav li{
    margin-top: 1rem;
    list-style: none;
    font-size: 1.2rem;
    font-weight: 500;
}
.main-section-one-box3-figure1{
    width: 40vw;
    height: 90vh;
}
.main-section-one-box3-figure2{
    width: 40vw;
    height: 80vh;
    position: relative;
    top: 4rem;
}
/* MAIN SECTION TWO -- UNIVERSAL FLEX-BOX */
.main-section-two, .main-section-two-grid, .main-section-two-span1, .main-section-two-span2, .main-section-two-img1, .main-section-two-img2, .main-section-two-text{
		display: flex;
}
/* MAIN SECTION TWO */
.main-section-two{
   	width: 98.79vw;
    height: 260vh;
    background-color: #2D2D2D;
		flex-direction: column;
		align-items: center;
}
.main-section-two h2{
	width: 66vw;
    height: 8vh;
    margin: 8rem 0 2rem 0;
	color: #FFF;
	font-size: 2.1rem;
	font-weight: 800;
	text-transform: uppercase;
}
/* MAIN SECTION TWO GRID WITH 5 IMAGES */
.main-section-two-grid{
	width: 80vw;
	height: 55vh;
    margin-bottom: 4rem;
}
.main-section-two-img1{
	width: 40vw;
	height: 55vh;
}
.main-section-two-span1 img, .main-section-two-span2 img{
	width: 20vw;
	height: 27.5vh;
}
/* MAIN SECTION IMAGE -- STORMTROOP HIERARQUIA */
.main-section-two-img2{
	width: 80vw;
	height: 110vh;
}
.main-section-two p{
    width: 40vw;
    color: #FFF;
    margin: 1rem 8rem 0 0;
    text-align: right;
    font-size: 0.8rem;
    font-weight: 300;
        align-self: flex-end;
}
.main-section-two-text{
    padding-left: 5rem;
        justify-content: center;
}
/* MAIN SECTION THREE -- UNIVERSAL FLEX-BOX  */
.main-section-three, .main-section-three-figure, .main-section-three-divs{
    display: flex;
}
/* MAIN SECTION THREE */
.main-section-three{
    width: 98.79vw;
    height: 63vh;
    background-color: cornflowerblue;
        justify-content: flex-end;
        align-items: center;
}
.main-section-three-figure{

}
.main-section-three-divs{
    width: 70vw;
    height: 50vh;
    text-align: center;
    background-color: rgba(100, 237, 100, 0.507);
        justify-content: space-around;
        align-items: center;
}
.main-section-three-divs div{
    background-color: crimson;
}
.main-section-three-divs div h4{
    background-color: darkmagenta;
}
.main-section-three-divs button{
    transform-style: flat;
    color: #FFF;
    text-transform: uppercase;
    background-color: #000;
}
.main-section-three-divs p{
    width: 4vw;
    background-color: forestgreen;
    font-size: 1rem;
}