@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;;
}
body{
    width: 100vw;
    height: 600vh;
    background-color: #FFF;
}
/* UNIVERSAL HEADER FLEX-BOX */
.header-container, .header-logo-box1, .header-logo-box2, .header-logo1, .header-logo2, .header-figure, .header-group{
        display: flex;
}
/* HEADER CONTAINER & BACKGROUND IMAGE */
.header-container{
    width: 100vw;
    height: 100vh;
    background-image: url(img-desktop/star\ uó\ topo@2x.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100%;
        justify-content: center;
        align-items: center;
    position: absolute;
}
/* BOX 1,2 & BOX-FATHER FOR STAR WARS LOGO IMAGES */
.header-logo-box1, .header-logo-box2{
    width: 50vw;
    height: 100vh;
        justify-content: center;
        align-items: center;
}
/* .header-logo-box1{
    
}
.header-logo-box2{
    
} */
/* STAR WARS LOGO IMAGES */
.header-logo1, .header-logo2{
    width: 25vw;
    height: 15vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100%;
    position: relative;
}
.header-logo1{
    background-image: url(img-desktop/star@2x.png);
}
.header-logo2{
    background-image: url(img-desktop/wars@2x.png);
}
/* FIGURE FIRST IMPRESSION */
.header-figure{
    width: 50vw;
    height: 50vh;
    position: relative;
}
.header-group{
    width: 10vw;
    height: 20vh;
}